.landing-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: -1px;
}

.landing-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    font-weight: 400;
}

.tagline {
    display: block;
    font-size: 1.2rem;
    font-weight: normal;
    color: #4caf50;
    margin-top: 0.5rem;
}